.App {
  text-align: center;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.table_hight {
  height: 648px;
  overflow-y: auto;
}

.student-table th,
tr td {
  border: 1px solid black;
}

.pageNumbers {
  list-style: none;
  display: flex;
}

.pageNumbers li {
  padding: 5px 10px;
  border: 1px solid black;
  cursor: pointer;
  border-radius: 5px;
}

.pageNumbers li:hover {
  background-color: #7c7b7b;
}

.active {
  background: #7c7b7b;
  color: black;
}

.pageNumbers li button {
  border: none;
  background-color: transparent;
  /* font-size: 1.5rem; */
  cursor: pointer;
}

.pageNumbers li button:hover {
  outline: none;
}

.table thead tr th span:hover {
  cursor: pointer;
}

.dark-pagination li {
  color: white;
  border: 1px solid white;
}

.dark-pagination li i {
  color: white;
}